[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.1.4"
django-crispy-forms = "==1.9.2"
django-multiselectfield = "*"
django-model-utils = "==3.1.2"
django-utils-six = "*"
pillow = "*"
django-userforeignkey = "*"
environs = "*"
psycopg2 = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
