<!DOCTYPE html>
{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{{ quiz.title }}
{% endblock %}

{% block content %}
<div id="container" style="display:flex; flex-direction: column; align-items:center; margin-top:9%;background:#f2f2f2; 
  border-radius:20px; border:.5px solid black; width: 750px; margin-left:20%;">
    <h2 style="font-size:100px;">{{ quiz.title }}</h2>
    <h3 style="font-size:55px;">{% trans "Category" %}: {{ quiz.category }}</h3>
    {% if quiz.single_attempt %}
      <h4 style="font-size:55px;">{% trans "You will only get one attempt at this quiz" %}.</h4>
    {% endif %}
    <p>{{ quiz.description }}</p>
    <p>
      <a href="{% url 'quiz_question' quiz_name=quiz.url %}">
      <button class="btn-dark" style="font-size: 45px; margin-bottom:15px;">{% trans "Start Learning!" %}</button>
      </a>
    </p>
</div>
{% endblock %}
