<!DOCTYPE html>
{% extends 'base.html' %}
{% load i18n %}
{% load card_tags %}
{% block title %}{% trans "All Cards" %}{% endblock %}

{% block content %}
<div style="padding:15px;">
<h2 style="font-size: 35px;">{% trans "Cards" %}</h2>
    {% if quiz_list %}
		<table class="table table-bordered table-striped">

		  <thead>
			<tr style="font-size: 23px;">
			  <th>{% trans "Title" %}</th>
			  <th>{% trans "Category" %}</th>
			  
			  <th>{% trans "Single attempt" %}</th>
			  <th></th>
			</tr>
		  </thead>

		  <tbody>

        {% for quiz in quiz_list %}

  			<tr style="font-size: 17px;">
			  <td>{{ quiz.title }}</td>
			  <td>{{ quiz.category }}</td>
			  <td>{{ quiz.single_attempt }}</td>
			  <td>
				<a href="{% url 'quiz_start_page' slug=quiz.url %}">
				  {% trans "Start!" %}
				</a>
			</tr>

        {% endfor %}
		  </tbody>

		</table>

	{% else %}
        <p>{% trans "There are no available cards" %}.</p>
    {% endif %}
</div>
{% endblock %}
