{% extends 'base.html' %}
{% block content %}
<form action="#" method="post" id="quiz">

    <h3>In a dictionary what is the key?
        Dict={“This”:”that”} 
    </h3>

    <div>
      <input
        type="radio"
        name="question-1-answers"
        id="question-1-answers-A"
        value="A"
      />
      <label for="question-1-answers-A">A) {} </label>
    </div>

    <div>
      <input
        type="radio"
        name="question-1-answers"
        id="question-1-answers-B"
        value="B"
      />
      <label for="question-1-answers-B">B) :</label>
    </div>

    <div>
      <input
        type="radio"
        name="question-1-answers"
        id="question-1-answers-C"
        value="C"
      />
      <label for="question-1-answers-C">C) “This"</label>
    </div>

    <div>
      <input
        type="radio"
        name="question-1-answers"
        id="question-1-answers-D"
        value="D"
      />
      <label for="question-1-answers-D">D) "That"</label>
    </div>
    <input type="submit" value="Submit Quiz" />
</form>
{% endblock content %}