<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<div style="padding: 15px;">
    <div id="container" style="background:#f2f2f2; border-radius:20px; border:.5px solid black; width:620px; height:110px; ">
    <h1>Python Definition Flash Cards</h1>
    <a href="{% url 'pydef' %}" style="margin-left:25px;"><button type="button" class="btn btn-dark" style="font-size:20px;">Start now!</button></a>
    </div>
    <div id="container" style="margin-top:10px; background:#f2f2f2; border-radius:20px; border:.5px solid black; width:620px; height:110px; ">
    <h1>HTML/CSS Definition Flash Cards</h1>
    <a href="{% url 'htmldef' %}" style="margin-left:25px;"><button type="button" class="btn btn-dark" style="font-size:20px;">Start now!</button></a>
    </div>
</div>
{% endblock content %}