<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}



<body>
  <div class="slideshow-container">
    <div class="mySlides">
      <h3>(a)tags</h3>
      <p>The a tag defines a hyperlink within a template.</p>
    </div>

    <div class="mySlides">
      <h3>(b)tags</h3>
      <p>The b tag defines bold text within a template.</p>
    </div>

    <div class="mySlides">
      <h3>Background-image</h3>
      <p>
        The background-image property specifies an image to use as the
        background of an element.
      </p>
    </div>

    <div class="mySlides">
      <h3>(p)tags</h3>
      <p>Is a selector in CSS that points to the HTML element you want to style as text.</p>
    </div>

    <div class="mySlides">
      <h3>(text-align)</h3>
      <p>Is a property you can add to the selector and center the text.</p>
    </div>

    <div class="mySlides">
      <h3>Background-color</h3>
      <p>The background color property specifies the background color of an element.</p>
    </div>

    <div class="mySlides">
      <h3>(!DOCTYPE)</h3>
      <p>Defines the doctype.</p>
    </div>

    <div class="mySlides">
      <h3>(body)</h3>
      <p>Defines the document's body.</p>
    </div>

    <div class="mySlides">
      <h3>Header Tags</h3>
      <p>Are used to scale your text into six different types of headers.</p>
    </div>

    <div class="mySlides">
      <h3>(nav)</h3>
      <p>Defines navigation links for the navbar.</p>
    </div>

    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>
  </div>

  <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides((slideIndex += n));
    }

    function currentSlide(n) {
      showSlides((slideIndex = n));
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      if (n > slides.length) {
        slideIndex = 1;
      }
      if (n < 1) {
        slideIndex = slides.length;
      }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slides[slideIndex - 1].style.display = "block";
    }
  </script>
</body>
{% endblock content %}
