<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div style="padding: 15px;">
    <div>
        <h3 class="ml-2">Made by students for students</h3>
    </div>
    <div style = "display:flex; flex-direction: row;">
        <a class="btn btn-dark ml-2" href="{% url 'reflection_detail' %}">Review Reflections</a>
        <div>
            <a href="{% url 'resource' %}">
                <button class="btn btn-dark ml-2">Resources</button>
            </a>
    </div>
    {% else %}
        <h3 class="ml-2"> You are not logged in</h3>
    {% endif %}
</div>
{% endblock content %} 
