
{% extends 'base.html' %}
{% block content %}
<form action="#" method="post" id="quiz">

    <h3>What would get returned if print(“Hello World!”) was run?</h3>

    <div>
      <input
        type="radio"
        name="question-1-answers"
        id="question-1-answers-A"
        value="A"
      />
      <label for="question-1-answers-A">A) hello world! </label>
    </div>

    <div>
      <input
        type="radio"
        name="question-1-answers"
        id="question-1-answers-B"
        value="B"
      />
      <label for="question-1-answers-B">B) Hello World!</label>
    </div>

    <div>
      <input
        type="radio"
        name="question-1-answers"
        id="question-1-answers-C"
        value="C"
      />
      <label for="question-1-answers-C">C) “Hello World!”</label>
    </div>

    <div>
      <input
        type="radio"
        name="question-1-answers"
        id="question-1-answers-D"
        value="D"
      />
      <label for="question-1-answers-D">D) ‘hello world!’</label>
    </div>
    <input type="submit" value="Submit Quiz" />
</form>
{% endblock content %}