<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<div style="padding: 15px;">
    <h3 style="border-width:3px; border-style: solid; width:125px; margin:1px; border-style: None None solid;">Python Resources</h3>
    <p><a href="https://binarysearch.com/" target="_blank">Visit binarysearch.com!</a></p>
    <p><a href="https://automatetheboringstuff.com/" target="_blank">Visit automatetheboringstuff.com!</a></p>
</div>
<div style="padding: 15px;">
    <h3 style="border-width:3px; border-style: solid; width:125px; margin:1px; border-style: None None solid;">HTML/CSS</h3>
    <p><a href="https://www.w3schools.com/" target="blank">Visit w3schools.com!</a></p>
</div>
<div style="padding: 15px;">
    <h3 style="border-width:3px; border-style: solid; width:125px; margin:1px; border-style: None None solid;">Django</h3>
    <p><a href="https://www.djangoproject.com/" target="blank">Visit djangoproject.com!</a></p>
</div>
{% endblock content %}