<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
    <h2>Python</h2>
    <h4>Chapter 2</h4>
    <iframe width="280" height="158" src="https://www.youtube.com/embed/dbABzlmG1aM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h4>Chapter 3</h4>
    <iframe width="280" height="158" src="https://www.youtube.com/embed/Ca214eZaVik" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="280" height="158" src="https://www.youtube.com/embed/sMzOtsKY_cQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <iframe width="280" height="158" src="https://www.youtube.com/embed/YhtY5_daMds" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h2>HTML/CSS</h2>
    <p>HTML/CSS videos here</p>
    <h2>Django</h2>
    <p>Django videos here</p>
{% endblock content %}