<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
    <button onclick="showOrHideDiv()" class="btn btn-dark btn-sm" style=" margin-left:15px; margin-top: 15px; justify-content: space-evenly;"><h2>Python</h2></button>
    <div id="python" style="display:none">
        <h4 style="border-width:3px; border-style: solid; width:125px; margin:10px; border-style: None None solid;">Chapter 2</h4>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/dbABzlmG1aM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4 style="border-width:3px; border-style: solid; width:125px; margin:10px; border-style: None None solid;">Chapter 3</h4>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/Ca214eZaVik" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/sMzOtsKY_cQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/YhtY5_daMds" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4 style="border-width:3px; border-style: solid; width:125px; margin:10px; border-style: None None solid;">Chapter 4</h4>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/5DZMWRWEhUk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/eenVZhUjlc4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4 style="border-width:3px; border-style: solid; width:125px; margin:10px; border-style: None None solid;">Chapter 5</h4>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/2luO2YNmOtM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/xoznKUWQfTo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4 style="border-width:3px; border-style: solid; width:125px; margin:10px; border-style: None None solid;">Chapter 6</h4>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/lRNEsEjWkIg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/J7wzmRyX24c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4 style="border-width:3px; border-style: solid; width:125px; margin:10px; border-style: None None solid;">Chapter 7</h4>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/7ZZhLaftRFY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/tbDILVD3tqs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4 style="border-width:3px; border-style: solid; width:125px; margin:10px; border-style: None None solid;">Chapter 8</h4>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/xw8H9fJR55I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4 style="border-width:3px; border-style: solid; width:125px; margin:10px; border-style: None None solid;">Chapter 9</h4>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/HvV0BQ_bPcs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/rKdi2JIelns" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/dSAN4dYI3S0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/fHfKPQ_RDg0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4 style="border-width:3px; border-style: solid; width:125px; margin:10px; border-style: None None solid;">Chapter 10</h4>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/4dK4gocrgM8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/cyZJO_Ql71A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/ffpcPWze7Wo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/A9Vt-sKulEY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/IVQX5KKXLcE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/rD44BNpi4-U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4 style="border-width:3px; border-style: solid; width:125px; margin:10px; border-style: None None solid;">Chapter 11</h4>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/7N14-JSxBIY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/nd6vm76hYg4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/daefaLgNkw0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/daefaLgNkw0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/XWvF8o_t_DE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/OgWFYAYLQhc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4 style="border-width:3px; border-style: solid; width:125px; margin:10px; border-style: None None solid;">Chapter 13</h4>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/YzT8zDPihmc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/YzT8zDPihmc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/g-PGLbMth_g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/4VqmGXwpLqc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/-D38DB4tx54" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4 style="border-width:3px; border-style: solid; width:125px; margin:10px; border-style: None None solid;">Chapter 14</h4>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/CDnk3_VYfLI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/yxGNnxoLJKs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4 style="border-width:3px; border-style: solid; width:125px; margin:10px; border-style: None None solid;">Chapter 17</h4>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/Tqzm4_BZ7WY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/pd-0G0MigUA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/3x2aeKiQjx8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
   <button onclick="showOrHideDiv2()" class="btn btn-dark btn-sm" style=" margin-top: 15px; justify-content: space-evenly;"><h2>HTML/CSS</h2></button>
    <div id="html" style="display:none">
        <h4 style="border-width:3px; border-style: solid; width:125px; margin:10px; border-style: None None solid;">Intro to HTML & CSS</h4>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/TKYsuU86-DQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4 style="border-width:3px; border-style: solid; width:125px; margin:10px; border-style: None None solid;">Creating Our First Project & Document</h4>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/TKYsuU86-DQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <button onclick="showOrHideDiv3()" class="btn btn-dark btn-sm" style=" margin-top: 15px; justify-content: space-evenly;"><h2>Django</h2></button>
    <div id="django" style="display:none">
        <h4 style="border-width:3px; border-style: solid; width:125px; margin:10px; border-style: None None solid;">Django Introduction</h4>
            <iframe width="280" height="158" src="https://www.youtube.com/embed/IMG4r03G6g8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    

<!-- Scripts -->
<script>
    function showOrHideDiv() {
       var v = document.getElementById("python");
       if (v.style.display === "none") {
          v.style.display = "block";
       } else {
          v.style.display = "none";
       }
    }
</script>
<script>
    function showOrHideDiv2() {
       var v = document.getElementById("html");
       if (v.style.display === "none") {
          v.style.display = "block";
       } else {
          v.style.display = "none";
       }
    }
</script>
<script>
    function showOrHideDiv3() {
       var v = document.getElementById("django");
       if (v.style.display === "none") {
          v.style.display = "block";
       } else {
          v.style.display = "none";
       }
    }
</script>
{% endblock content %}